.App {
  text-align: center;
}


.Info-box-content {
  position: absolute;
  float: right;
}

.Sidebar-box {
  background-color: #003049;
  border-radius: 4px;
  min-height: 100px;
  min-width: 100px;
  color: white;
  font-size: 8px;
}

.Box-color {
  background-color: #003049;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Order-box {
  background-color: #003049;
  border-radius: 4px;
  min-height: 60px;
  color: black;
  font-size: 8px;
}

.Info-box {
  background-color: #003049;
  border-radius: 4px;
  min-height: 100px;
  min-width: 150px;
  color: white;
  font-size: 8px;
}


.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.Dashboard-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/**Original beanbud color: #fb7b7b**/
.App-header {
  background-color: #003049;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.Login-panel {
  background-color: #faf0f0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-font {
  color: black;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}





